<a href="https://colab.research.google.com/github/JoelRamosC/Algorithms_PYTHON/blob/main/Estudo_Pandas_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 - Manipulação de Dados (Básico)

Importar bibliotecas e classes

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

Criar dados

np.arange(valor)

In [ ]:
dados = np.arange(8)

dados.reshape((linhas, colunas))

In [ ]:
dados.reshape((4,2))

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [ ]:
np.random.seed(25)
indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4', 'linha 5','linha 6' ]
colunas = ['coluna 1', 'coluna 2', 'coluna 3', 'coluna 4', 'coluna 5', 'coluna 6' ]
df = DataFrame(np.random.rand(36).reshape((6,6)),
               index = indice,
               columns=colunas)
df

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
linha 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
linha 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
linha 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
linha 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
linha 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
df.loc[['linha 2', 'linha 4'], ['coluna 3', 'coluna 5']]

         coluna 3  coluna 5
linha 2  0.556229  0.402366
linha 4  0.481343  0.383048

In [ ]:
df < .2

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1     False     False     False      True     False      True
linha 2     False     False     False     False     False      True
linha 3     False     False      True     False     False     False
linha 4     False     False     False     False     False     False
linha 5     False     False      True     False     False     False
linha 6     False     False     False     False     False     False

In [ ]:
indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4',
          'linha 5','linha 6' , 'linha 7', 'linha 8']
serie_obj = Series(np.arange(8), index = indice)     
serie_obj

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
linha 8    7
dtype: int64

In [ ]:
filtro = serie_objeto > 6
serie_obj[filtro]

linha 8    7
dtype: int64

In [ ]:
serie_obj['linha 1', 'linha 5', 'linha 8'] = 8
serie_obj

linha 1    8
linha 2    1
linha 3    2
linha 4    3
linha 5    8
linha 6    5
linha 7    6
linha 8    8
dtype: int64

Encontrando e Preenchando Valores em Branco

In [ ]:
em_branco = np.nan
serie = Series(['linha 1', 'linha 2', em_branco, 'linha 4',
          'linha 5','linha 6' , em_branco, 'linha 8'])
serie

0    linha 1
1    linha 2
2        NaN
3    linha 4
4    linha 5
5    linha 6
6        NaN
7    linha 8
dtype: object

In [ ]:
serie.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
dtype: bool

In [ ]:
np.random.seed(25)
df = pd.DataFrame(np.random.rand(36).reshape((6,6)))
df.loc[3:5,0] = em_branco
df.loc[1:4,5] = em_branco
df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004       NaN
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
df_preenchido = df.fillna(0)
df_preenchido

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.000000
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.000000
3  0.000000  0.836375  0.481343  0.516502  0.383048  0.000000
4  0.000000  0.559053  0.034450  0.719930  0.421004  0.000000
5  0.000000  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
dicio = {0:0.1 , 5:1.25} #média da coluna
df_preenchido = df.fillna(dicio)
df_preenchido

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  1.250000
2  0.447031  0.585445  0.161985  0.520719  0.326051  1.250000
3  0.100000  0.836375  0.481343  0.516502  0.383048  1.250000
4  0.100000  0.559053  0.034450  0.719930  0.421004  1.250000
5  0.100000  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
#numero de elementos em branco em cada coluna
df.isnull().sum()

0    3
1    0
2    0
3    0
4    0
5    4
dtype: int64

In [ ]:
#elimina linhas que apresentam em branco
df.dropna()

          0         1         2         3       4         5
0  0.870124  0.582277  0.278839  0.185911  0.4111  0.117376

In [ ]:
#axis 1 usa as colunas ao invés de linhas
df.dropna(axis = 1)

          1         2         3         4
0  0.582277  0.278839  0.185911  0.411100
1  0.437611  0.556229  0.367080  0.402366
2  0.585445  0.161985  0.520719  0.326051
3  0.836375  0.481343  0.516502  0.383048
4  0.559053  0.034450  0.719930  0.421004
5  0.900274  0.669612  0.456069  0.289804

Removendo dados duplicados

In [ ]:
dados = {
    'coluna 1':[1,1,2,2,3,3,3],
    'coluna 2':['a','a','b','b','c','c','c'],
    'coluna 3':['A','A','B','B','C','C','C']
}
df = DataFrame(dados)
df

   coluna 1 coluna 2 coluna 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [ ]:
#identifica as linhas com valores repetidos
df.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [ ]:
#limina linhas com repetição
df.drop_duplicates()

   coluna 1 coluna 2 coluna 3
0         1        a        A
2         2        b        B
4         3        c        C

In [ ]:
#atualiza o df e elimina as linhas com repetição definitivo
df.drop_duplicates(inplace=True)
df

   coluna 1 coluna 2 coluna 3
0         1        a        A
2         2        b        B
4         3        c        C

In [ ]:
#considera os repetidos apenas da coluna 3
df.drop_duplicates(["coluna 3"])

   coluna 1 coluna 2 coluna 3
0         1        a        A
2         2        b        B
4         3        c        C

Concatenando Dados

In [ ]:
df = pd.DataFrame(np.arange(36).reshape((6,6)))
df

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [ ]:
df2 = pd.DataFrame(np.arange(15).reshape(5,3))
df2

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [ ]:
#concatenar dataframes na vertical, somando linhas
pd.concat([df,df2])

    0   1   2     3     4     5
0   0   1   2   3.0   4.0   5.0
1   6   7   8   9.0  10.0  11.0
2  12  13  14  15.0  16.0  17.0
3  18  19  20  21.0  22.0  23.0
4  24  25  26  27.0  28.0  29.0
5  30  31  32  33.0  34.0  35.0
0   0   1   2   NaN   NaN   NaN
1   3   4   5   NaN   NaN   NaN
2   6   7   8   NaN   NaN   NaN
3   9  10  11   NaN   NaN   NaN
4  12  13  14   NaN   NaN   NaN

In [ ]:
#concatena na lateral, somando colunas
pd.concat([df,df2], axis =1)

    0   1   2   3   4   5     0     1     2
0   0   1   2   3   4   5   0.0   1.0   2.0
1   6   7   8   9  10  11   3.0   4.0   5.0
2  12  13  14  15  16  17   6.0   7.0   8.0
3  18  19  20  21  22  23   9.0  10.0  11.0
4  24  25  26  27  28  29  12.0  13.0  14.0
5  30  31  32  33  34  35   NaN   NaN   NaN

Transformar Dados

In [ ]:
df = pd.DataFrame(np.arange(36).reshape((6,6)))
df

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [ ]:
#remover dados com índices das linhas a serem excluídas
df.drop([0,2])

    0   1   2   3   4   5
1   6   7   8   9  10  11
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [ ]:
#elimina colunas
df.drop([1,2], axis = 1)

    0   3   4   5
0   0   3   4   5
1   6   9  10  11
2  12  15  16  17
3  18  21  22  23
4  24  27  28  29
5  30  33  34  35

In [ ]:
serie = pd.Series(np.arange(6))
serie.name = "nova_variavel"
serie

0    0
1    1
2    2
3    3
4    4
5    5
Name: nova_variavel, dtype: int64

In [ ]:
novo_df = pd.DataFrame.join(df, serie)
novo_df

    0   1   2   3   4   5  nova_variavel
0   0   1   2   3   4   5              0
1   6   7   8   9  10  11              1
2  12  13  14  15  16  17              2
3  18  19  20  21  22  23              3
4  24  25  26  27  28  29              4
5  30  31  32  33  34  35              5

In [ ]:
#reorganizar dados
df_ordenado = novo_df.sort_values(by =["nova_variavel"],ascending = False)
df_ordenado

    0   1   2   3   4   5  nova_variavel
5  30  31  32  33  34  35              5
4  24  25  26  27  28  29              4
3  18  19  20  21  22  23              3
2  12  13  14  15  16  17              2
1   6   7   8   9  10  11              1
0   0   1   2   3   4   5              0

Agrupamento de dados